.form-ctn {
  margin: 30px 25%;
  width: 50%;
  text-align: left;
  background-color: #fff;
  padding: 2.5em 2rem;
  box-shadow: 0 2px 4px rgba(41, 43, 53, 0.04);
}
.form-ctn-modal {
  margin: 30px 10% !important;
  width: 80% !important;
}
.label-double-mail {
  text-align: center;
}
.submit-button {
  margin-left: 91%;
}
.inlineGroup {
  width: 42.5%;
  margin: 20px 0;
  display: inline-block;
}
.m-right {
  margin-right: 5%;
}
.blockGroup {
  width: 90%;
  margin: 20px 2.5% 20px 0;
}
.p-alert {
  color: grey;
  font-size: 0.75rem;
}
.form-section {
  padding: 10px 0;
  background: linear-gradient(180deg, #f7f8fc, #f2f3f7);
}
.form-section-modal {
  background: #fff !important;
}
.loading {
  color: white;
  animation: loading 1.5s infinite cubic-bezier(0.42, 0, 0.61, 0.91);
}
@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.submit-ok {
  color: white;
  animation: submitAccepted 1.5s infinite cubic-bezier(0.99, 0.11, 0.09, 0.99);
}
@keyframes submitAccepted {
  0% {
    transform: scale(0.6);
  }
  100% {
    transform: scale(1.4);
  }
}
.submit-ok-btn {
  border-color: #358873;
  background: #4e9c81 !important;
  padding: 10px 40px;
}
.submit-err-btn {
  background: #e57373 !important;
  border: 1px solid #c62828;
  padding: 10px 40px;
}
